.banner {
    display: flex; 
    align-items: center; 
    padding: 20px; 
    margin-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
}

.banner-image {
    width: 40%; 
    height: auto; 
    margin-right: 20px; 
}

.banner-text {
    color: rgb(205, 15, 15);
    max-width: 50%; 
}

h1 {
    font-size: 50px;
    margin: 0;
}

p {
    font-size: 1.2rem;
}
