.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.footer-logo {
  flex: 1;
  min-width: 200px;
  padding: 20px;
  text-align: left;
}

.footer-logo h1 {
  font-size: 24px;
  color: #ff69b4;
}

.md-title h2 {
  font-size: 20px;
  color: #fbb03b;
  font-family: "Georgia", serif;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.md-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.md-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: 4px solid #333;
  transition: transform 0.3s ease-in-out;
}

.md-details {
  text-align: left;
}

.md-details h3 {
  font-size: 20px;
  margin: 0;
  color: #ff69b4;
}

.md-details p {
  margin: 2px 0;
  font-size: 14px;
  color: aqua;
}
.md-details h6 {
  color: #fbb03b;
}

.footer-links,
.footer-contact {
  flex: 1;
  min-width: 200px;
  padding: 10px;
}

.footer-links h3,
.footer-contact h3 {
  font-size: 18px;
  color: #ff69b4; 
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  text-decoration: none;
  color: #ccc;
}

.footer-links a:hover {
  color: #fff;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-bottom {
  background-color: #222;
  padding: 10px;
  font-size: 14px;
  color: #ccc;
}
.footer-social {
  text-align: center;
  margin-top: 20px;
}

.footer-social h3 {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: white;
  font-size: 34px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #007bff;
}
